{% extends "base.html.twig" %}

{% block body %}
  <div class="col-md-12">
    <h1>Просмотр отзыва</h1>
    <a href="{{ path('create_review') }}" class="btn btn-lg btn-primary create_review_btn">Создать отзыв</a>
  </div>
  <div class="col-md-12 review_item" data-ip="{{ userip }}" data-id="{{review.id}}">
    <span class="label label-info author">{{ review.author_name }}</span>
    <span class="label label-success date">{{ review.create_date|date("m.d.Y") }}</span>
    {% if review.likes == 0 %}
      <span class="glyphicon glyphicon-star-empty like_btn" aria-hidden="true"></span>
    {% else %}
      <span class="glyphicon glyphicon-star like_btn" aria-hidden="true"></span>
    {% endif %}
    <span class="review_likes">{{ review.review_likes }}</span>
    <span class="your_ip" style="display:none;"></span>
    <!-- <span class="ip"></span> -->
      <div class="well review_text">
        {{ review.review_text }}
      </div>
  </div>
  {% if previd != -1 %}
    <a id="prev_rev" class="btn btn-primary" href="{{ path('review', {'id': previd}) }}">Предыдущий отзыв</a>
  {% endif %}
  {% if nextid != -1 %}
    <a id="next_rev" class="btn btn-primary" href="{{ path('review', {'id': nextid}) }}">Следующий отзыв</a>
  {% endif %}
{% endblock %}
