<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Книга отзывов</title>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css" >
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/main.css" >
  {% block stylesheets %}
  {% endblock %}

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top col-md-12">
        <div class="container col-md-6">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">Книга отзывов</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <div class="sd">

              </div>
              {% if app.request.attributes.get('_route') == 'homepage' %}
                <li class="active"><a href="{{ path('homepage') }}">Главная</a></li>
                {% else %}
                <li><a href="{{ path('homepage') }}">Главная</a></li>
              {% endif %}
              {% if app.request.attributes.get('_route') == 'create_review' %}
                <li class="active"><a href="{{ path('create_review') }}">Создание отзыва</a></li>
                {% else %}
                <li><a href="{{ path('create_review') }}">Создание отзыва</a></li>
              {% endif %}
              {% if app.request.attributes.get('_route') == 'review' %}
                <li class="active"><a href="#">Просмотр отзыва</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <div class="col-md-3">
      </div>
    <div class="col-md-6 page">
    {% block body %}
    {% endblock %}
    </div>
    <div class="col-md-3">
    </div>
  {% block scripts %}
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/js/main.js"></script>
  {% endblock %}
</body>
</html>
