h1 {
  padding-top: 40px;
}

.review_text {
  margin-top: 10px;
}

.create_review_btn {
  margin: 20px 0 20px 10px;
}

.like_btn {
  margin-left: 10px;
}

.review_item {
  font-size: 20px;
}

form .btn-primary{
  margin-top: 10px;
}

#prev_rev {
  float: left;
  margin-left: 20px;
}

#next_rev {
  float: right;
  margin-right: 20px;
}
