{% extends "base.html.twig" %}

{% block body %}
<div class="col-md-12">
  <h1>Создать отзыв</h1>
</div>
<form action="#" method="post">
  {{ form_widget(form) }}
  <input type="submit" name="submit" />
</form>
{% endblock %}
