{% extends "base.html.twig" %}

{% block body %}
<div class="col-md-12">
  <h1>Главная</h1>
  <h2>Отзывы:</h2>
  <a href="{{ path('create_review') }}" class="btn btn-lg btn-primary create_review_btn">Создать отзыв</a>
</div>
  <a href="{{ path('homepage_filter', {'type': 'date_asc'}) }}" class="well col-md-3">Сортировка по дате по возрастанию</a>
  <a href="{{ path('homepage_filter', {'type': 'date_desc'}) }}" class="well col-md-3">Сортировка по дате по убыванию</a>
  <a href="{{ path('homepage_filter', {'type': 'likes_asc'}) }}" class="well col-md-3">Сортировка по лайкам по возрастанию</a>
  <a href="{{ path('homepage_filter', {'type': 'likes_desc'}) }}" class="well col-md-3">Сортировка по лайкам по убыванию</a>
  {% for review in reviews %}
  <div class="col-md-12 review_item" data-ip="{{ userip }}" data-id="{{review.id}}">
    <span class="label label-info author">{{ review.author_name }}</span>
    <span class="label label-success date">{{ review.create_date|date("m.d.Y") }}</span>
    {% if review.likes == 0 %}
      <span class="glyphicon glyphicon-star-empty like_btn" aria-hidden="true"></span>
    {% else %}
      <span class="glyphicon glyphicon-star like_btn" aria-hidden="true"></span>
    {% endif %}
    <span class="review_likes">{{ review.review_likes }}</span>
    <span class="your_ip" style="display:none;"></span>
    <!-- <span class="ip"></span> -->
      <div class="well review_text">
        <a href="{{ path('review', {'id': review.id}) }}">
          {{ review.review_text }}
        </a>
      </div>
  </div>
  {% endfor %}
{% endblock %}
